body {
    background-color: rgb(255, 255, 255);
    @font-face font-family: ;
    src: url();
}

img {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
}

.flex-item {
    flex: 1;
}



* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


header {

    padding: 5%;
    background-color: rgb(255, 191, 0);
}

header nav li {
    display: inline
}

header img {
    width: 300px;
}

header input {
    border-radius: 5px;
    padding: 3px 10px;
    width: 120px;
}

video {
    width: 100%;

}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 12%;
    left: 15%;
    color: rgb(255, 170, 0);
}

section {
    margin-bottom: 2ch;
    padding: ;
}

#membership .flex-item {
    padding: cm;
}

.higlight {
    background-color: blueviolet;
}

.membership {
    background-image: url
}
#span .h3{color: aquamarine;}


footer {
    padding: 5vw 10vw;
    background-color: #ff000000;
    color: #ff0000;
}

footer .flex-container:first-child {
    margin-bottom: 2rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li:first-child a, footer ul:first-child li a {
    color: #7a7a7a;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
